
<p>
  <b>Имя:</b>
  <%= @site.name %>
</p>

<p>
    <%=    render :template => 'counters/index' %>
</p>

<%= link_to 'Редактировать', edit_site_path(@site) %> |
<%= link_to 'Назад в список объектов мониторинга', sites_path %>
